/* You can add global styles to this file, and also import other style files */

@import './assets/fonts/Montserrat/stylesheet.css';

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #00a97e;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


p, label {
  margin: 0;
}

button:focus {
  outline: 0;
  box-shadow: none;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.custom-button {
  cursor: pointer;
  background: transparent;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;

  &:hover {
    background: #ffffff;
    color: #00a97e;
  }

  &.fill {
    border: 2px solid #00a97e;
    background: #00a97e;

    &:hover{
      background: #ffffff;
      color: #00a97e;
    }
  }
}


.custom-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;

  &.half {
    width: 50%;
  }

  label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  input, select, textarea {
    border: 1px solid rgba(139, 152, 149, .3);
    height: 48px;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }
}
